
.vs/Action/DesignTimeBuild/.dtbcache.v2
.vs/Action/v17/.futdcache.v1
.vs/Action/v17/.suo
/.vs/AAU-CSIT8B-Project/v17/.suo
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
.vs/Action/v17/ipch/AutoPCH/77b1820ab61c9bd3/ACTIONCOMPILER.ONEPROPERTYSEMANTICVISITORCOMPILER.ipch
.vs/Action/v17/Browse.VC.opendb
.vs/Action/v17/Browse.VC.db-wal
.vs/Action/v17/Browse.VC.db-shm
.vs/Action/v17/Browse.VC.db
*.manifest
*.testlog
